.wcm-footer-actions {
  display: flex;
  justify-content: center;
}

.wcm-footer-actions wcm-button {
  margin: 0 5px;
}

.wcm-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.wcm-info-container:last-child {
  margin-bottom: 0;
}

.wcm-info-text {
  margin-top: 5px;
  text-align: center;
}

.wcm-images svg {
  margin: 0 2px 5px;
  width: 55px;
  height: 55px;
}

.help-img-highlight {
  stroke: var(--wcm-color-overlay);
}
